#wpbody-content div.updated,#wpbody-content div.formmes{
  background: #f9f9f9;
  -webkit-border-radius: 0;
  border-radius: 0;
  outline: none;
  font-size: 16px;
  padding: 5px 0;
  padding-left: 5px;
  border: 1px solid #a6a6a6;
  margin: 10px 0;
}

#arevico-opt-page *{
  outline: none;
}
body {
    line-height: 1.4em;
}

html body #arevico-opt-page .errorlabel{
  color:red;
  margin-left: 5px;
  vertical-align: top;
}

html body #arevico-opt-page .sltab .error{
      border: 1px solid red;
}
html body #arevico-opt-page .updatesuccess {
border:1px solid #a6a6a6;padding:10px;margin:0 0 10px 0;background:#f0f0f0;
}
html body #arevico-opt-page .updateerror {
border:1px solid #a6a6a6;padding:10px;margin:0 0 10px 0;background:#FFE8E8;
}

html body #arevico-opt-page .vertal td{
}
html body #arevico-opt-page .vertal th{
background-color:#D7F2FF ;
padding: 5px 20px 5px 20px;
font-size:10pt;
}

html body #arevico-opt-page .chklbl{
display:block;
line-height: 1.4em;
vertical-align: bottom;
}


html body #arevico-opt-page .dispin{
display:inline-block;
width:180px;
}


html body #arevico-opt-page .pcttext{
	width:50px;
}
html body #arevico-opt-page .sltab{
display:none;
}

html body #arevico-opt-page .sltabhead{
    padding-right:10px;
        cursor: default;
}

html body #arevico-opt-page .slactive{
    border-bottom:1px solid #1BA1E2;
    color: #0f0f0f;
}
html body #arevico-opt-page .slinactive{
  color:#a3a3a3;
  }
html body #arevico-opt-page .slheadcontainer{
	border-bottom:1px solid #B0C8D7;
	font-size:14pt;
	padding-bottom:4px;
}

html body #arevico-opt-page .sltab{
      white-space: nowrap;
	padding-top:10px;
}
/**========== OPTIONS ==============
* this should be in a seperate css files, but to reduce
* # of request we combined it.
*/

html body #arevico-opt-page .ilb{ /* Inline Block Cross Browser */
	display: -moz-inline-stack;
    display: inline-block;
    margin-bottom:5px;
    vertical-align: text-top;
}


html body #arevico-opt-page .lblwide
{
   white-space:normal;
    width:200px;
	text-align:right;
	padding-right:5px;
}
html body #arevico-opt-page .lblmiddle{
 white-space: nowrap;
 padding-left:30px;
}
html body #arevico-opt-page .sltab input[type="text"]{
	width:300px;
}
html body #arevico-opt-page .sltab select{
  width:300px;
}

html body #arevico-opt-page .sltab textarea{
  width:300px;
  height:100px;
}

html body #arevico-opt-page .chklbl{
display:inline-block;
width:100px;
font-size: 16px;
margin-left:5px;
}

html body #arevico-opt-page .aalig a{
margin-left:20px;
}

html body #arevico-opt-page input,
html body #arevico-opt-page textarea,
html body #arevico-opt-page select{
  border-radius:0;
}
html body #arevico-opt-page select{
   line-height: 24px;

}
html body #arevico-opt-page .chklbl{
  display:inline-block;
  width:100px;
}
/*===========*/

 html body #arevico-opt-page {
  font-size: 14px;
   font-family: "Segoe UI","Segoe UI Web Regular","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
}
html body #arevico-opt-page  input[type="text"],
html body #arevico-opt-page textarea,html body 
#arevico-opt-page select,html body 
#arevico-opt-page textarea{
    border: 1px solid rgba(0, 0, 0, 0.27);
    color: #212121;
    font-family: "Segoe UI","Segoe UI Web Regular","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
    font-size: 16px;
    line-height: 24px;

}

html body #arevico-opt-page  input[type="text"]:focus,
html body #arevico-opt-page textarea:focus,
html body #arevico-opt-page select:focus,
html body #arevico-opt-page textarea:focus{
    border-color: rgba(0, 0, 0, 1);
    outline: medium none;
}


html body #arevico-opt-page  .labelleft,.optionright{
   float:left;
   line-height:24px;
}
html body #arevico-opt-page .labelleft{
    line-height: 24px;
    font-size:16px;
    text-align: right;
    width:200px;
    padding:5px 20px 0 0;
    height: 24px;
}
html body #arevico-opt-page .cb{
  clear:both;
}

html body #arevico-opt-page  .tile{
  background-color:#1BA1E2;
  text-decoration: none;
  cursor:pointer;
  color:white;
  display:inline-block;
  line-height: 21px;
  font-size: 16px;
  padding:5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
  -moz-opacity: 0.75;         /* Mozilla extension */
  -khtml-opacity:0.75;        /* Konqueror extension (Safari 1.1)*/
  opacity: 0.75;              /* the correct CSS3 syntax */
}
html body #arevico-opt-page  .tile:hover{
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  -moz-opacity: 1;         /* Mozilla extension */
  -khtml-opacity:1;        /* Konqueror extension (Safari 1.1)*/
  opacity: 1;              /* the correct CSS3 syntax */
  opacity:1;
}

html body #arevico-opt-page  .msubmit:hover{
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);

  -moz-opacity: 1;         /* Mozilla extension */
  -khtml-opacity:1;        /* Konqueror extension (Safari 1.1)*/
  opacity: 1;              /* the correct CSS3 syntax */
  opacity:1;
}

html body #arevico-opt-page .msubmit{
  /*float:right;*/
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
  -moz-opacity: 0.75;         /* Mozilla extension */
  -khtml-opacity:0.75;        /* Konqueror extension (Safari 1.1)*/
  opacity: 0.75;              /* the correct CSS3 syntax */
  text-align: center;
  color:#ffffff;
  font-size:14px;
  background-color: #1BA1E2;
  padding: 10px;
  font-size:18px;
  border:solid 0;

}

/** tables*/
html body #arevico-opt-page table tbody tr td {
    border-bottom:1px solid #e9e9e9;
    font-size: 11pt;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 20px;
    padding: 3px 10px;
}

.sltab a:hover{
  text-decoration: underline;  
}


#arevico-opt-page input[type="checkbox"],#arevico-opt-page input[type="radio"]{
  vertical-align: text-top;
  width: 20px;height:20px;
  margin-right: 10px;
}



/** page specific style under this line */
/** ----------------------------------- */
#arevico-opt-page .catselect a{
  display: block;
  width: 100%;
  text-decoration: none;
}
#arevico-opt-page .catselect a:hover{
  background: #f9f9f9;
}

#arevico-opt-page .catselect{
  display: none;
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.27);
  color: #212121;
  background: white;
  position: absolute;3
  max-height:100px;
  width:300px;
}




/** Some non-general styles*/
html body #arevico-opt-page .input-div{
  padding:10px 0 0 0;
  margin-bottom:10px;
  border-top:1px solid #c6c6c6;
  border-bottom:1px solid #c6c6c6;
  background: #f9f9f9;
}


html body #arevico-opt-page .cat-overview{
  padding:5px;
  font-size: 16px;
}

html body #arevico-opt-page .cat-overview a{
  color:black;
  text-decoration: none;
}
html body #arevico-opt-page .cat-overview a:hover{
  text-decoration: underline;
}

html body #arevico-opt-page .copy-to-clip{
  text-decoration: none; 
}

